.header {
  background: linear-gradient(
      rgba(187, 187, 187, 0.5),
      rgba(187, 187, 187, 0.5),
      rgba(187, 187, 187, 0.5),
      rgba(187, 187, 187, 0.5)
    ),
    url("../../../images/banner.jpg") no-repeat;
  background-size: cover;
  height: 100vh;
}
@media (max-width: 991px){
  .header{
    height: 180vh;
  }
}
